*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20221228/pngtree-red-atmospheric-real-estate-technology-wind-business-banner-background-image_1503702.jpg);
}
.search{
  width: 20%;
}
.information{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
p{
  margin: 0;
}
.menu-header{
  justify-content: center;
  display: flex;
  background: #001529;
}
/* MenuComponent.css */

.ant-menu-item {
  font-size: 18px; /* Điều chỉnh kích thước chữ của mục menu */
}
.listProduct{
  margin: 0 auto;
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
li{
  list-style: none;
  color: red;
  font-size: 20px;
}
.listProduct ul{
  padding-top: 20px;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 50px;
  text-align: center;
}